@import "variables";
#body
{
  font-family: 'proxima-nova', Proxima Nova;
  &_top
  {

    &_nav_bar
    {

      &_navbar
      {

        height: 80px;
        &_links
        {
          img
          {
            height: 80px;
            width: 80px;
            float: left;
          }
          ul{
            float: right;
            padding-top: 15px;

            li {
              a{
                color: purple;
              }
              a:hover
              {
                border-bottom: 5px solid #000000;
              }

            }
          }

        }
      }
    }
  }
}